<div>
    <div ng-show="isEdited">
        <form name="tagEdition" class="form-inline" novalidate>
            <fieldset ng-disabled="loading">
                <loading value="loading"></loading>
                <div class="form-group" ng-class="{'has-error': tagEdition.name.$touched && tagEdition.name.$invalid }">
                    <input type="text" name="name" class="form-control"
                        required ng-minlength="2" ng-maxlength="40" ng-model="newName" />
                </div>
                <input type="submit" name="submit" value="Modifier" class="btn btn-primary" ng-disabled="tagEdition.$invalid" ng-click="processEditTag()" />
                <input type="submit" name="submit" value="Annuler" class="btn btn-default" ng-click="$parent.resetCurrentEditedTag()" />
                <br />
                <p class="text-danger" ng-show="tagEdition.name.$touched && tagEdition.name.$invalid && !errorMsg">
                    Ce champs est requis et doit être compris entre 2 et 40 caractères.
                </p>
                <p class="text-danger" ng-show="errorMsg" ng-bind="errorMsg"></p>
            </fieldset>
        </form>
    </div>
    <div ng-hide="isEdited" ng-transclude></div>
</div>