<div class="row">
    <div class="alert alert-dismissable alert-{{ alertType }} col-xs-12 col-md-4 col-md-offset-4" role="alert" ng-hide="isAlertClosed">
        <button type="button" class="close" ng-click="closeAlertMessage()">&times;</button>
        {{ alertMessage }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 article-border-container" ng-repeat="(index, value) in articles">
        <div class="article-container">
            <p class="article-title"><a href="{{ value['link'] }}" target="_blank">{{ value['title'] }}</a></p>
            <div class="article-image" style="background-image: url('{{ value['picture']}}');"></div>
            <div class="article-footer">
                <p class="article-domain-name"><img ng-src="{{ value['favicon'] }}" class="article-favicon" /> {{ value['domainName'] }}</p>
                <div class="article-actions">
                    <span class="glyphicon glyphicon-ok" title="Archiver" ng-click="archiveArticle(value['id'])"></span>&nbsp;
                    <span class="glyphicon glyphicon-tags" title="Modifier les étiquettes" ng-click="displayLabelsDialog(value['id'])"></span>&nbsp;
                    <span class="glyphicon glyphicon-trash" title="Supprimer" ng-click="removeArticle(value['id'])"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12" ng-show="articles[0] == null">
    <p>Vous n'avez aucun article enregistré</p>
</div>

<!-- Dialog modification étiquettes -->
<div class="modal fade" id="editLabelsDialog" tabindex="-1" role="dialog" aria-labelledby="editLabelsDialogLabel" ng-controller="EditArticleLabelsController">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editLabelsDialogLabel">Modification des étiquettes</h4>
            </div>
            <div class="modal-body">
                <loading value="editLabelsLoading"></loading>
                <div class="alert alert-danger" role="alert" ng-show="editLabelsErrorMsg">
                    <p ng-bind="editLabelsErrorMsg"></p>
                </div>
                <div ng-show="!success">
                    <p>Pour ajouter plusieurs étiquettes, presser la touche "Ctrl" + click</p>
                    <select multiple class="form-control" ng-model="articleLabels">
                        <option ng-repeat="label in allLabels" value="{{ label.id }}">{{ label.name }}</option>
                    </select>
                </div>
                <div ng-show="success">
                    <p class="confirm-text text-center">
                        <span class="glyphicon glyphicon-ok text-success confirm-icon"></span><br />
                        L'article a bien été modifié
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetDatas()">Fermer</button>
                <button type="button" class="btn btn-primary" ng-click="processEditLabels()" ng-disabled="loading" ng-hide="success">Modifier</button>
            </div>
        </div>
    </div>
</div>
