<div class="row">
    <div class="alert alert-dismissable alert-{{ alertType }} col-xs-12 col-md-4 col-md-offset-4" role="alert" ng-hide="isAlertClosed">
        <button type="button" class="close" ng-click="closeAlertMessage()">&times;</button>
        {{ alertMessage }}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 article-border-container" ng-repeat="(index, value) in articles">
        <div class="article-container">
            <p class="article-title"><a href="{{ value['link'] }}" target="_blank">{{ value['title'] }}</a></p>
            <div class="article-image" style="background-image: url('{{ value['picture']}}');"></div>
            <div class="article-footer">
                <p class="article-domain-name"><img ng-src="{{ value['favicon'] }}" class="article-favicon" /> {{ value['domainName'] }}</p>
                <div class="article-actions">
                    <span class="glyphicon glyphicon-ok" title="Archiver" ng-click="archiveArticle(value['id'])"></span>&nbsp;
                    <span class="glyphicon glyphicon-tags" title="Modifier les étiquettes"></span>&nbsp;
                    <span class="glyphicon glyphicon-trash" title="Supprimer" ng-click="removeArticle(value['id'])"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12" ng-show="articles[0] == null">
    <p>Vous n'avez aucun article enregistré</p>
</div>

<!-- Dialog delete confirmation -->
<!--
<div class="modal fade" id="remove-article" tabindex="-1" role="dialog" aria-labelledby="remove-article-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="remove-article-label">Suppression d'article</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous vraiment sûr de vouloir supprimer cet article ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="removeArticle()">Oui</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>
-->
