{% extends "::layout.html.twig" %}

{% block body %}
<header class="container-fluid">
    <nav id="navbar-header" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Press Guru</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div ng-view=""></div>
</div>
{% endblock %}


{% block js %}
    {% javascripts
        'bundles/press-guru/js/appAuthentication.js'
        'bundles/press-guru/js/services/app-parameters-service.js'
        'bundles/press-guru/js/services/authentification-service.js'
        'bundles/press-guru/js/services/user-service.js'
        'bundles/press-guru/js/directives/loading-directive.js'
        'bundles/press-guru/js/controllers/connection-controller.js'
        'bundles/press-guru/js/controllers/registration-confirmation-controller.js' %}
    
    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}