body {
    background-color: #F4F4F6;
    font-size: 1.6em;
}

/* Header */
#navbar-header {
    background-color: #F4F4F6;
}

/* Barre de menu latéral */
.smaller-nav li {
    height: 25px;
}

.side-nav {
    margin-bottom: 40px;
}

.nav-title {
    margin-bottom: 0px;
    font-size: 1.4em;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
