body {
    background-color: #F4F4F6;
    font-size: 1.5em;
}

/* Header */
#navbar-header {
    background-color: #F4F4F6;
}

/* Barre de menu latéral */
.smaller-nav li {
    height: 25px;
}

.side-nav {
    margin-bottom: 40px;
}

.nav-title {
    margin-bottom: 0px;
    font-size: 1.4em;
}


/* Page connexion */
.connection-interior {
    width: 80%;
    margin: 0 auto;
}

.connection-title {
    font-size: 2em;
    text-align: center;
}

.connection-separator {
    background-color: #DDD;
}

.connection-submit {
    width: 100%;
}

@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}
